.row {
  border: 1px dashed blue;
}
.content-card {
  border: 1px dotted red;
}
.square {
  border: 1px solid black;
  padding: 30px 15px;
  min-width: 60px;
  min-height: 60px;
}
.container {
  width: 98%;
}
